@font-face {
  font-family: 'Krub';
  src: url('/fonts/Krub-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

:root {
  font-family: Krub;
  line-height: 1.5;

  color-scheme: dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1c1b22;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  --header-height: 50px;
  --header-margin: 20px;

  --board-max-width: 500px;
  --tile-width: min(max(8vmax, 10vmin), 18vw, calc(var(--board-max-width) / 5));
  --board-width: calc(var(--tile-width) * 5);

  --border-color: #666;
  --tile-border-color: #999;
  --tile-border-radius: 10px;
  --success: #109030;
  --success-hover: #20a040;
  --success-filter: invert(39%) sepia(82%) saturate(615%) hue-rotate(86deg) brightness(91%) contrast(91%);
}

.success-button {
  font-size: 14pt;
  font-weight: bold;
  background-color: var(--success);
  box-shadow: 0 0 5px 2px white;
  animation: pulse 1.0s infinite alternate ease-in-out;
}

.success-button:hover {
  background-color: var(--success-hover);
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 5px 2px white;
    }
    100% {
      box-shadow: 0 0 10px 7px rgba(255, 255, 255, 0.8);
    }
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  height: 100dvh;
  overflow: hidden;
}

#app {
  height: 100%;
}

button {
  border: none;
  padding: 0.5em 1em;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  background: #333;
  cursor: pointer;
  color: white;
  font-family: inherit;
}

button:disabled {
  cursor: unset;
  background: #222;
}

button:disabled:hover {
  background: #222;
}

button:hover {
  background: #444;
}

#app {
  width: 100%;
}

.draggable-source--is-dragging {
  opacity: .3;
}

/* draggable--is-dragging is applied to <body> while dragging */
.draggable--is-dragging *,
.draggable--is-dragging {
  cursor: grabbing !important;
}

.draggable-mirror {
  z-index: 1;
  user-select: none;
  -webkit-user-select: none; /* needed for safari as of writing this app */
}
